
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
/debug
logs/
tests-example
example.*
*.log
allure-results
allure-report/

# Auth session storage
storageStates/